In [42]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [43]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
741,tt1216475,200000000,559852396,Cars 2,Larry the Cable Guy|Owen Wilson|Michael Caine|...,John Lasseter|Brad Lewis,Ka-ciao!,Star race car Lightning McQueen and his pal Ma...,106,Animation|Family|Adventure|Comedy,Walt Disney Pictures|Pixar Animation Studios,6/11/2011,5.8,2011
20,tt1964418,190000000,209035668,Tomorrowland,Britt Robertson|George Clooney|Raffey Cassidy|...,Brad Bird,Imagine a world where nothing is impossible.,"Bound by a shared destiny, a bright, optimisti...",130,Action|Family|Science Fiction|Adventure|Mystery,Walt Disney Pictures|Babieka|A113,5/19/2015,6.2,2015
371,tt1228705,200000000,623933331,Iron Man 2,Robert Downey Jr.|Gwyneth Paltrow|Don Cheadle|...,Jon Favreau,"It's not the armor that makes the hero, but th...",With the world now aware of his dual life as t...,124,Adventure|Action|Science Fiction,Marvel Studios,4/28/2010,6.6,2010
1756,tt0758766,40000000,145896422,Music and Lyrics,Drew Barrymore|Hugh Grant|Scott Porter|Brad Ga...,Marc Lawrence,Share the music with someone you love.,A washed up singer is given a couple days to c...,96,Comedy|Music|Romance,Village Roadshow Pictures|Castle Rock Entertai...,2/9/2007,6.1,2007
1625,tt0327162,90000000,102000000,The Stepford Wives,Nicole Kidman|Matthew Broderick|Bette Midler|G...,Frank Oz,The wives of Stepford have a secret.,"What does it take to become a Stepford wife, a...",93,Action|Comedy|Science Fiction,Paramount Pictures|De Line Pictures|DreamWorks...,6/10/2004,5.4,2004

In [44]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [45]:
answers = {} # создадим словарь для ответов
data = pd.read_csv('movie_bd_v5.csv')
profit = data.revenue - data.budget # profit calculation
data['profit'] = profit # add column
# тут другие ваши предобработки колонок например:
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [46]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [47]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [48]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [49]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [50]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [51]:
answers['4'] = '2. 110'

round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [52]:
answers['5'] = '1. 107'

round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [53]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'

import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
data[data.profit==data.profit.max()].original_title.values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [54]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
data[data.profit==data.profit.min()].original_title.values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [55]:
answers['8'] = '1. 1478'

len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [56]:
answers['9'] = '4. The Dark Knight (tt0468569)'

data[data['revenue'] == data[(data.release_year==2008)].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [57]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

data[(data.release_year >= 2012) & (data.release_year <= 2014)].sort_values('profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [58]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'

data1=pd.read_csv('movie_bd_v5.csv')
data1['genres'] = data1['genres'].apply(lambda x:x.split('|'))
data1=data1.explode('genres')
data1.genres.value_counts().head(1)

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [59]:
answers['12'] = '1. Drama'

data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data2 = data.copy()
data2['genres_list'] = data2['genres'].str.split('|')
data2 = data2.explode('genres_list')
data_profit = data2[(data2.profit > 0)]
data_profit_1 = data_profit['genres_list']
data_profit_1 .value_counts(ascending=False)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres_list, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [60]:
answers['13'] = '5. Peter Jackson'

data3 = pd.read_csv('movie_bd_v5.csv')
profit = data3.revenue - data3.budget
data3['profit'] = profit
data3.director = data3.director.apply(lambda x: x.split('|'))
data_3 = data3.explode('director')
data_3.groupby(['director'])['profit'].sum().sort_values(ascending = False).head(1)

director
Peter Jackson    5202593685
Name: profit, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [61]:
answers['14'] = '3. Robert Rodriguez'

data = pd.read_csv('movie_bd_v5.csv')
import collections
data_1 = data[data.genres.str.contains('Action')]
collections.Counter(data_1['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [62]:
answers['15'] = '3. Chris Hemsworth'

data=pd.read_csv('movie_bd_v5.csv')
data = data[data['release_year'] == 2012]
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data = data.explode('cast')
data.groupby('cast')['revenue'].sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [63]:
answers['16'] = '3. Matt Damon'

data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data_director=data.explode('cast')
data_director.loc[data_director['budget'] > data_director['budget'].mean()]['cast'].value_counts(ascending=False).head(1)

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [64]:
answers['17'] = '2. Action'

data = pd.read_csv('movie_bd_v5.csv')
import collections
data = data[data.cast.str.contains('Nicolas Cage')]
collections.Counter(data['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [65]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

data = pd.read_csv('movie_bd_v5.csv')
profit = data.revenue - data.budget
data['profit'] = profit
data = data[data.production_companies.str.contains('Paramount Pictures')]
data = data.sort_values('profit', ascending=False)
data.tail(1).min()

imdb_id                                                         tt0267626
budget                                                          100000000
revenue                                                          35168966
original_title                                       K-19: The Widowmaker
cast                    Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...
director                                                  Kathryn Bigelow
tagline                                          Fate has found its hero.
overview                When Russia's first nuclear submarine malfunct...
runtime                                                               138
genres                                             Thriller|Drama|History
production_companies    Paramount Pictures|Intermedia Films|National G...
release_date                                                    7/19/2002
vote_average                                                            6
release_year                                                         2002
profit                                                          -64831034
dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [66]:
answers['19'] = '5. 2015'

data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['year'] = data['release_date'].apply(lambda x: x[2])
data.groupby(['year'])['revenue'].sum().sort_values(ascending = False).head(1)

year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [67]:
answers['20'] = '1. 2014'

data=pd.read_csv('movie_bd_v5.csv')
profit = data.revenue - data.budget
data['profit'] = profit
data_1 = data[data['production_companies'].str.contains('Warner Bros')]
data_1.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [68]:
answers['21'] = '4. Сентябрь'

data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data.month.value_counts().head(1)

9    227
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [69]:
answers['22'] = '2. 450'

data = pd.read_csv('movie_bd_v5.csv')
data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
pivot = data.loc[data['month'].isin(['6','7','8'])]
pivot['original_title'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [79]:
answers['23'] = '5. Peter Jackson'

data = pd.read_csv('movie_bd_v5.csv')
data['director'] = data['director'].apply(lambda x:x.split('|'))
data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data_1 = data.explode('director')
data_1[data_1.month.isin(['12','1','2'])].director.value_counts().head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [71]:
answers['24'] = '5. Four By Two Productions'

data = pd.read_csv('movie_bd_v5.csv')
data['name_length'] = data.original_title.apply(lambda x: len(x))
data['production_companies'] = data.production_companies.str.split("|")
production_companies_df = data.explode('production_companies')
production_companies_df.groupby('production_companies').name_length.mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [72]:
answers['25'] = '3. Midnight Picture Show'

data = pd.read_csv('movie_bd_v5.csv')
data['total_words'] = data.overview.apply(lambda x: len(x.split(' ')))
data['production_companies_list'] = data['production_companies'].str.split('|')
data_1 = data.explode('production_companies_list')
data_1.groupby(['production_companies_list'])['total_words'].mean().sort_values().tail(1)

production_companies_list
Midnight Picture Show    175.0
Name: total_words, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [73]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' 

data = pd.read_csv('movie_bd_v5.csv')
one_percent = data.sort_values(by='vote_average').tail(int(data.original_title.count()/100)).original_title
one_percent.tolist()

['The Theory of Everything',
 'The Lord of the Rings: The Two Towers',
 'There Will Be Blood',
 'Mr. Nobody',
 '12 Years a Slave',
 'The Pianist',
 'Gone Girl',
 'Memento',
 'Guardians of the Galaxy',
 'Inception',
 'The Wolf of Wall Street',
 'The Grand Budapest Hotel',
 'The Lord of the Rings: The Return of the King',
 'Room',
 'Interstellar',
 'Inside Out',
 'The Imitation Game',
 'The Dark Knight']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [74]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
from itertools import combinations
from collections import Counter
import collections
data['pairs'] = data['cast'].apply(lambda s: list(combinations(s, 2)))
data = data.explode('pairs')
collections.Counter(data['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [75]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [76]:
# и убедиться что ни чего не пропустил)
len(answers)

27